homeserver:
  address: http://synapse.matrix.svc.cluster.local:8008
  domain: matrix.ds47.dev
  async_media: true

appservice:
  address: http://matrix-signal.matrix.svc.cluster.local:29328
  hostname: 0.0.0.0
  port: 29328
  id: signal
  bot:
    username: signalbot
    displayname: Signal Bridge Bot
  as_token: ""
  hs_token: ""

database:
  type: postgres
  uri: ""

bridge:
  permissions:
    "matrix.ds47.dev": user

logging:
  min_level: info
  writers:
    - type: stdout
      format: pretty-colored
