talosconfig
home-ops-delta.schwarz47.internal.yaml
home-ops-blue.schwarz47.internal.yaml
home-ops-charlie.schwarz47.internal.yaml
gryffindor-prod-delta.k8s.gryffindor.prod.schwarz47.at.yaml
gryffindor-prod-blue.k8s.gryffindor.prod.schwarz47.at.yaml
gryffindor-prod-charlie.k8s.gryffindor.prod.schwarz47.at.yaml
