---
machine:
  install:
    disk: /dev/sda
    image: factory.talos.dev/metal-installer/a01e02a6c9e159607c19dc4a0ebf4afeafae2bcb881fe51b7ddc9c834dc1b578:v1.13.6
  network:
    hostname: thestral-worker-02.infra.gryffindor.schwarz47.at
    interfaces:
      - interface: ens18
        addresses:
          - 10.100.10.82/24
      - interface: ens19
        addresses:
          - 10.44.0.82/16
  type: worker
  kernel:
    modules:
      - name: nvidia
      - name: nvidia_uvm
      - name: nvidia_drm
      - name: nvidia_modeset
  sysctls:
    net.core.bpf_jit_harden: 1