---
machine:
  install:
    disk: /dev/sda
    image: factory.talos.dev/metal-installer/d4f0e0890383069b4eb8f8ea5f59e6eee99e23aef66c9fd6ab1d1b636f654a0b:v1.13.7
  network:
    hostname: thestral-worker-02.infra.gryffindor.schwarz47.at
    interfaces:
      - interface: ens18
        addresses:
          - 10.100.10.82/24
      - interface: ens19
        addresses:
          - 10.44.0.82/16
      - interface: ens20
        dhcp: false
        vlans:
          - vlanId: 30
            mtu: 1500
  type: worker
  kernel:
    modules:
      - name: nvidia
      - name: nvidia_uvm
      - name: nvidia_drm
      - name: nvidia_modeset
  sysctls:
    net.core.bpf_jit_harden: 1
