---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
stringData:
  #% if bootstrap_cloudflare.enabled %#
  SECRET_DOMAIN: "#{ bootstrap_cloudflare.domain }#"
  SECRET_ACME_EMAIL: "#{ bootstrap_cloudflare.acme.email }#"
  #% if bootstrap_cloudflare.tunnel.enabled %#
  SECRET_CLOUDFLARE_TUNNEL_ID: "#{ bootstrap_cloudflare.tunnel.id }#"
  #% endif %#
  #% else %#
  SECRET_EXAMPLE: Global secrets for your cluster go in this file, this file is encrypted with sops
  #% endif %#
