---
machine:
  install:
    disk: /dev/sda
    image: factory.talos.dev/metal-installer/e3fab82b561b5e559cdf1c0b1e5950c0e52700b9208a2cfaa5b18454796f3a7e:v1.12.6
  network:
    hostname: thestral-01.infra.gryffindor.schwarz47.at
    interfaces:
      - interface: ens18
        addresses:
          - 10.100.10.71/24
      - interface: ens19
        addresses:
          - 10.44.0.71/16
    disableSearchDomain: true
  type: controlplane