---
machine:
  install:
    disk: /dev/sda
  network:
    hostname: thestral-03.infra.gryffindor.schwarz47.at
    interfaces:
      - interface: ens18
        addresses:
          - 10.100.10.73/24
      - interface: ens19
        addresses:
          - 10.44.0.73/16
  nodeLabels:
    node.kubernetes.io/gpu: "true"
  type: controlplane