---
# Rename to unsealer-secret.sops.yaml, fill in the keys, then:
# sops -e -i kubernetes/apps/vault/vault/app/unsealer-secret.sops.yaml
apiVersion: v1
kind: Secret
metadata:
  name: vault-unseal-keys
  namespace: vault
stringData:
  VAULT_UNSEAL_KEYS: "KEY1 KEY2 KEY3"
