server_name: "matrix.ds47.dev"
pid_file: /data/homeserver.pid
public_baseurl: https://matrix.ds47.dev/
serve_server_wellknown: false

listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true
    resources:
      - names: [client, federation]
        compress: false

database:
  name: psycopg2
  args:
    user: synapse
    password: ""
    dbname: synapse
    host: pg18vec-rw.database.svc.cluster.local
    port: 5432
    sslmode: require
    cp_min: 5
    cp_max: 10

media_store_path: /data/media_store
max_upload_size: 100M

log_config: "/config/log_config.yaml"

report_stats: false

registration_shared_secret: ""
macaroon_secret_key: ""
form_secret: ""
signing_key_path: /data/signing.key

trusted_key_servers:
  - server_name: "matrix.org"

matrix_authentication_service:
  enabled: true
  endpoint: "http://mas.matrix.svc.cluster.local:8080/"
  secret_path: /secrets/mas/SHARED_SECRET

app_service_config_files:
  - /secrets/signal/registration.yaml
